[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Ll]og/
[Ll]ogs
.vs/*
/old
.gitattributes
*.sh
Makefile
config.default
/tpws
/tmp
/mdig
/ipset
/ip2net
/init.d
/files
/docs
/common
/binaries
